01-基础入门学习班/八大行星简述[[:space:]][[:space:]]陈家豪.pptx filter=lfs diff=lfs merge=lfs -text
04-天文摄影后期与练习数据/天文摄影向导（14年7月14日修改v0.1版全文）.pdf filter=lfs diff=lfs merge=lfs -text
04-天文摄影后期与练习数据/天蝎座调色盘RAW文件(练手用）.zip filter=lfs diff=lfs merge=lfs -text
05-样例照片与素材/练习RAW与原始素材/银河素材.zip filter=lfs diff=lfs merge=lfs -text
